*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    

}
nav{
    background:#020608;
    height: 80px;
    width:100%;
}
label.logo{
    color:#fff;
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight:bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin: 0 5px;
}
nav ul li a{
    color:#fff;
    padding:15px;
    font-size:17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.mar{
    height: 20px;
    background-color:aqua;
}

a.active,a:hover{
    background: rgb(70, 11, 11);
    transition: .5s;
}
img{
   width:300px;
   height:300px;
    background-color: transparent;
    margin-left: 60px;;
   
    
}
label.logo:hover{
    background: rgb(225, 207, 13);
        transition: .5s;
}

.y{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-content: center;
}
.box-container{
    width:100%;
    max-width:1880px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: wrap;
}
.box{
    width: 500px;
    padding: 15px;
    min-height: 430px;

}
.box1{
    background-color: hsl(31,77%,52%);
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;

}
.box2 {
    
}
.box3 {
    padding-left: 20px;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.content{
    padding:10px;
}

h1{
    background-color: transparent;
    color: #8e0000;
    font-family: 'Courier New', Courier, monospace;
        
}

h1:hover{
    color: #008000;
    transition: .5s;
}
p{
    background-color: transparent;
    color: rgb(246, 240, 240);
}
.skills{
    width:500px;
    height:300px;
}
.aboutme{
    width: 500px;
}
.photo{
    width:500px;
}
.mainbox{
    width:100%;
}
.column {
    margin-top: 50px;
    padding: 20px;
    background-color: black;
    float: left;
    width: 33.33%;
    height:500px;
    border: 10px solid rgb(255, 0, 0);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
#a1{
    font-size: 50px;
    background-color: transparent;
    padding:50px;
    padding-bottom: 25px;
}
.btn{
    width:150px;
    height:30px;
    background-color:#8e0000;
    color: #fff;
}
.cntact{
    margin-top:200px;
    margin-bottom:40px;
}
.column-2 {
    margin-top: 50px;
    padding: 20px;
    background-color: black;
    float: left;
    width: 33.33%;
    height: 300px;
    border: 1px solid rgb(218, 15, 15);
}
#a2 {
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    padding: 50px;
    padding-bottom: 25px;
}
.bdan{
    min-height: 100vh;
    background: #020608;
}
.container2{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
.bubbles{
    position:relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(130s/var(--i));

}
.bubbles span:nth-child(even){
    
    background: #dcdf59;
    box-shadow: 0 0 0 10px #f4e80944,
        0 0 50px #dcdf59,
        0 0 100px #dcdf59;

}
@keyframes animate{
    0%{
        transform:translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}